.idea
**/*.iml

images

game-results
/export-*

target
**/TwitchAuthData.java

derby.log
/data
/data_*/
/logs
debug.log
NSO2
exported*.json
exported.zip

/resources

Thumbs.db

s3s*